---
# -----------------------
# Determine Java package per host
# -----------------------
- name: Set Java package per host
  set_fact:
    java_pkg_name: >-
      {{
        java_package.get(ansible_distribution | lower)
        | default(java_package.get(ansible_os_family | lower))
      }}

# -----------------------
# Install Java
# -----------------------
- name: Install Java
  package:
    name: "{{ java_pkg_name }}"
    state: present
    update_cache: yes
  when: java_pkg_name is defined

# -----------------------
# Debian/Ubuntu Jenkins repo
# -----------------------
- name: Setup Jenkins repository for Debian/Ubuntu
  when: ansible_os_family == "Debian"
  block:

    - name: Install dependencies
      apt:
        name: [gnupg, ca-certificates, curl]
        state: present
        update_cache: yes

    - name: Remove old Jenkins keyrings if exist
      file:
        path: "{{ jenkins_keyring }}"
        state: absent

    - name: Download Jenkins GPG key
      get_url:
        url: "{{ jenkins_key_url }}"
        dest: /tmp/jenkins.key
        mode: '0644'

    - name: Convert Jenkins key to binary keyring
      command: gpg --dearmor -o "{{ jenkins_keyring }}" /tmp/jenkins.key
      args:
        creates: "{{ jenkins_keyring }}"

    - name: Add Jenkins apt repository
      apt_repository:
        repo: "deb [signed-by={{ jenkins_keyring }}] {{ jenkins_repo_url }} binary/"
        filename: jenkins
        state: present

    - name: Update apt cache
      apt:
        update_cache: yes

# -----------------------
# RedHat/CentOS Jenkins repo
# -----------------------
- name: Setup Jenkins repository for RedHat/CentOS
  when: ansible_os_family == "RedHat"
  block:

    - name: Enable EPEL for RHEL/CentOS 8+
      block:
        - name: Install EPEL for RHEL/CentOS 8+
          dnf:
            name: epel-release
            state: present
          ignore_errors: yes
          when: ansible_distribution_major_version | int >= 8

        - name: Install EPEL for RHEL/CentOS 7
          yum:
            name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
            state: present
          when: ansible_distribution_major_version | int == 7

    - name: Add Jenkins yum repo
      get_url:
        url: "{{ jenkins_repo_url }}"
        dest: /etc/yum.repos.d/jenkins.repo

    - name: Import Jenkins RPM key
      rpm_key:
        key: "{{ jenkins_key_url }}"
        state: present

# -----------------------
# Install Jenkins
# -----------------------
- name: Install Jenkins
  package:
    name: jenkins
    state: present
  notify: restart jenkins

