- name: Load OS specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Show OS facts
  debug:
    msg: "Distribution={{ ansible_distribution }}, Version={{ ansible_distribution_major_version }}, OS family={{ ansible_os_family }}"


- name: Enable all repos (RHEL only)
  shell: yum repolist || true; yum clean all
  when: ansible_os_family == "RedHat"


- name: Install Java 21 headless for Jenkins on RedHat
  dnf:
    name: java-21-openjdk-headless
    state: present
    update_cache: yes
  when: ansible_os_family == "RedHat"



- name: Install Java 17 for Jenkins on Ubuntu
  apt:
    name: openjdk-17-jdk
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"




- name: Import Jenkins GPG key (RHEL)
  rpm_key:
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key
    state: present
  when: ansible_os_family == "RedHat"


- name: Add Jenkins repository key
  ansible.builtin.get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc
    mode: '0644'
  when: ansible_os_family == "Debian"

- name: Add Jenkins APT repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"
    state: present
  when: ansible_os_family == "Debian"

- name: Add Jenkins repository (RHEL)
  get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo
    mode: '0644'
  when: ansible_os_family == "RedHat"


- name: Install Jenkins (Debian/Ubuntu)
  ansible.builtin.apt:
    name: jenkins
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Refresh yum cache
  dnf:
    update_cache: yes
  when: ansible_os_family == "RedHat"

- name: Install Jenkins (RHEL)
  dnf:
    name: jenkins
    state: present
  when: ansible_os_family == "RedHat"
    

- name: Start and enable Jenkins
  service:
    name: jenkins
    state: started
    enabled: yes

- name: Set Jenkins to use Java 21
  lineinfile:
    path: /etc/sysconfig/jenkins
    regexp: '^JENKINS_JAVA_CMD='
    line: 'JENKINS_JAVA_CMD="/usr/bin/java"'
  when: ansible_os_family == "RedHat"

- name: Reload systemd
  command: systemctl daemon-reload

- name: Start Jenkins
  systemd:
    name: jenkins
    state: started
  register: jenkins_service
  ignore_errors: yes

- name: Show Jenkins service failure
  debug:
    var: jenkins_service
  when: jenkins_service.failed



- name: Configure Jenkins
  template:
    src: jenkins.j2
    dest: /etc/default/jenkins
  notify: Restart Jenkins

